body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-image: url("assets/images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3, h4, h5, h6{
  color: #153131;
}
.main{
  background-color: rgba(230,249,236,.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.icon-grey-input{
  color: #A9A9A9;
}